In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from sklearn.linear_model import LinearRegression
import itertools
import gc
import seaborn as snc
import os
import sys

In [ ]:
!wget https://www.dropbox.com/s/ncqb2ctkg7da11k/weather.csv.csv

In [ ]:
!wget https://www.dropbox.com/s/brixkogrmhan6ed/cab_rides.csv

In [4]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [ ]:
cab_data=pd.read_csv("cab_rides.csv")
weather_data=pd.read_csv("weather.csv.csv")
cab_data = reduce_mem_usage(cab_data)
weather_data=reduce_mem_usage(weather_data)

In [ ]:
weather_data.head()

In [ ]:
cab_data.columns

In [ ]:
weather_data.columns

In [9]:
cab_data['datetime']=pd.to_datetime(cab_data['time_stamp'])

In [10]:
weather_data['date_time']=pd.to_datetime(weather_data['time_stamp'])

In [ ]:
cab_data.shape

In [ ]:
weather_data.describe()

In [14]:
a=pd.concat([cab_data,weather_data])

In [15]:
a.head()

   distance cab_type     time_stamp  ... humidity wind  date_time
0  0.439941     Lyft  1544952607890  ...      NaN  NaN        NaT
1  0.439941     Lyft  1543284023677  ...      NaN  NaN        NaT
2  0.439941     Lyft  1543366822198  ...      NaN  NaN        NaT
3  0.439941     Lyft  1543553582749  ...      NaN  NaN        NaT
4  0.439941     Lyft  1543463360223  ...      NaN  NaN        NaT

[5 rows x 19 columns]

In [16]:
a['day']=a.date_time.dt.day
a['hour']=a.date_time.dt.hour

In [17]:
a.head()

   distance cab_type     time_stamp    destination  ... wind  date_time  day hour
0  0.439941     Lyft  1544952607890  North Station  ...  NaN        NaT  NaN  NaN
1  0.439941     Lyft  1543284023677  North Station  ...  NaN        NaT  NaN  NaN
2  0.439941     Lyft  1543366822198  North Station  ...  NaN        NaT  NaN  NaN
3  0.439941     Lyft  1543553582749  North Station  ...  NaN        NaT  NaN  NaN
4  0.439941     Lyft  1543463360223  North Station  ...  NaN        NaT  NaN  NaN

[5 rows x 21 columns]